body{
/*   display: flex; */
/*   align-items: center; */
/*   background-color: lightyellow; */
  background-color: azure;
/*   background: linear-gradient(to left, olive, beige); */
}

.container{
  position: relative;
  top: 150px;
  width: 50%;
  height: 50%;
  
}

.row{
/*   width: 50%; */
  height: 60px;
/*   border: 1px solid black; */
}

.board-square{
	text-align: center;
	color: darkslategrey;
	border:1px solid aliceblue;
	background-color: darkslategrey;
/*	transition: background-color .5s ease-out;*/
}

.selected{
	background-color: red;
}

.board-square:hover{
/*
  background-color: aliceblue;
  background-color: azure;
*/
}
